<% provide(:title, "Редактировать коммерческое предложение") %>
<div class="row">
  <div class="small-6 large-centered columns">
    <h3>Редактировать коммерческое предложение</h3>
  </div>
</div>
<div class="row">
  <%= render 'form' %>
</div>